<div *ngIf="(colors$ | async)" class="color-palette-container">
    <div
        *ngFor="let color of (colors$ | async); trackBy: trackByFunc"
        [style.color]="invertColor(color)"
        [style.backgroundColor]="color.hexString"
        [style.transform]="color.degree"
        class="color-palette-item"
        (click)="selectPrimaryColor(color)"
    >
    </div>
</div>

<div
    class="color-selection"
    *ngIf="(selectedColor$ | async) as color"
    [style.color]="invertColor(color)"
    [style.backgroundColor]="color.hexString"
>
    {{ color.hexString }}
</div>


<p>Primary Color Palette</p>
<div *ngFor="let color of (primaryColors$ | async)" [style.background-color]="color.hex" [style.color]="color.darkContrast ? 'black' : 'white'">
  {{color.name}}
</div>